<?xml version="1.0" encoding="UTF-8"?>
<!--
  Contao Multilingual Pagetree
  Package: vtinnovations/contao-multilingual-pagetree
  Copyright: V&T Innovations Team
  Licence: proprietary
  Website: https://www.v-t.one
-->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         cacheDirectory=".phpunit.cache"
         failOnWarning="true"
         failOnRisky="true"
>
    <testsuites>
        <testsuite name="unit">
            <directory>tests</directory>
            <exclude>tests/Integration</exclude>
        </testsuite>
        <testsuite name="integration">
            <directory>tests/Integration</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory>src</directory>
        </include>
    </source>
</phpunit>
